.sectionContacts {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 300px;
}

.contactsTitle {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

.noContacts{
    color: black;
    margin-top: 80px;
}

.AddContatos {
  color: #f8f9fa;
  background: #000046;
  width: 240px;
  height: 40px;
  top: 150px;
  left: 10px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  margin-top: 80px;
  margin-bottom: 20px;
}

.contactsList {
  display: flex;
  margin-top: 0px;
  flex-direction: column;
}

@media (min-width: 764px) {
  .contactsList {
    min-height: 50vh;
   
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    max-width: 90vw;
    overflow:auto;
  }
}
